!!!
%html{ "ng-app" => 'myApp'} 
  %head
    %title
      Ostrya Labs
  %meta{:charset => "utf-8"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %meta{:content => "", :name => "description"}/
  %meta{:content => "", :name => "author"}/
  %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true
  = csrf_meta_tags
  
  %body
    = yield
